---
import Layout from "../layouts/Layout.astro";
import Shop from "../components/Shop";
import Pay from '../components/Pay'
---

<Layout>
    <div class="flex flex-col items-center">
        <h1 class="text-4xl text-center font-bold">Carrito</h1>
        <h2 class="text-2xl self-start">Servicios seleccionados</h2>
        <Shop client:only />
        <Pay client:only/>
    </div>
</Layout>