---
export const prerender = true
import Layout from "../layouts/Layout.astro";
import Shop from "../components/Shop";
import Pay from '../components/Pay'
---

<Layout title="Carrito | SKYDENTRD">
    <div class="flex flex-col items-center px-5">
        <h1 class="text-4xl text-center font-bold mb-6 md:mb-0">Carrito</h1>
        <h2 class="text-2xl self-start font-bold">Servicios seleccionados</h2>
        <Shop client:only />
        <Pay client:only/>
    </div>
</Layout>