---
export const prerender = true
import video from "../assets/VIDEO.mp4";
import blueLife from "../assets/BLUE LIFE.webp";
import sponsors from "../assets/PATROCINADORESd.webp";
import Slide from "../components/Slide.tsx";
import Layout from "../layouts/Layout.astro";
import OpenWsDialog from "../components/OpenWsDialog.tsx";
import Financing from "../components/Financing.astro";
import Services from "../components/Services.astro";
import Recomendations from "../components/Recomendations.astro";
import Products from "../components/Products";
---

<Layout title="SKYDENT RD">
    <div class="relative">
        <Slide client:load />
        <div
            id="about"
            class="flex flex-col py-10 px-5 md:px-48 gap-10 textBlue text-justify"
        >
            <h2 class="font-bold text-2xl md:text-5xl text-center">
                Quienes Somos
            </h2>
            <p class="text-lg">
                Somos un centro odontológico con más de 25 años de experiencia
                brindando una alta calidad en cada uno de los procesos bucales
                que ofrecemos. Desde nuestros inicios nos hemos preocupado no
                tan solo en promover una sonrisa saludable sino también en
                brindar a nuestros clientes un servicio premium. Debido a la
                confianza de nuestros clientes, hemos ido creciendo y hoy en día
                contamos con 4 sucursales ubicadas en Santo domingo, Punta Cana,
                Santiago y Constanza.
            </p>
            <p class="text-lg">
                Cada uno de nuestros clientes hace eco de la calidad de nuestros
                servicios y respaldan nuestra labor que con amor y entrega
                disponemos cada día.
            </p>
        </div>
        <Financing />
        <Services />
        <video src={video} loop muted controls class="w-full"></video>
        <div class="flex items-center flex-col pt-10" id="blueLife">
            <img
                src={blueLife.src}
                class="md:w-5/12 aspect-2/1 md:aspect-square md:h-80 object-cover"
                alt="Blue Life"
            />
            <p class="px-5 md:px-48 text-lg text-justify pt-10">
                BlueLife es una iniciativa donde la comunidad de SKYDENTRD apoya
                de manera genuina el cuidado y preservación del medio ambiente a
                través de una limpieza de costas donde recogemos desperdicios
                sólidos arrojados por personas en lugares inapropiados como en
                las playas de República Dominicana. Nuestro planeta necesita que
                cada uno de nosotros cree conciencia de la importancia de
                mantener limpios los espacios donde distintas especies marinas
                viven y reducir así la muerte de cada una de ellas.
            </p>
        </div>
        <div class="flex flex-col items-center pt-10">
            <h2 class="text-2xl md:text-5xl textBlue font-bold">
                Patrocinadores
            </h2>
            <img
                class="aspect-40/15 md:h-96 object-cover"
                src={sponsors.src}
                alt="Patrocinadores"
            />
        </div>
        <Products client:load />
        <Recomendations />
        <OpenWsDialog client:load />
    </div>
</Layout>
